/* Navbar.css */
.navbar {
  position: fixed;         
  top: 0;                    
  left: 0;                   
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: space-between;
  align-items: center;
  background-color: #6C8CBF;  /* Option---ADCCE9 */
  color: black;
  padding: 8px 20px;
  width: 100vw;               
  box-sizing: border-box;     /* Prevent padding from overflowing */
  z-index: 1000;
}


/* .nav-links li a {
  padding: 8px 12px;
  text-decoration: none;
  color: #333;
  transition: all 0.3s ease;
  font-weight: 500;
}

.nav-links li a.active-link {
  font-weight: 700;
  border-bottom: 2px solid #007BFF;
  color: #007BFF;
} */

.nav-links li a {
  text-decoration: none;
  color: black;
  padding-bottom: 4px;
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s ease;
}

.nav-links li a.active-link {
  border-bottom: 2px solid black;
  font-weight: bold;
}



.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li {
  cursor: pointer;
}

.logo {
  font-weight: bold;
}

.profile-icon {
  font-size: 1.2rem;
}
