.mental-health-section {
  background-color:#F6F7F9;   /* color option ---- f0f6ff */
  /* padding: 0px; */
  padding-bottom: 28px;
  font-family: Arial, Helvetica, sans-serif;
  

}

.mental-health-header {
  display: flex;
  font-weight: bold;
  justify-content: space-between;
  background-color: #e7eef7; 
  align-items: center;
  margin-bottom: 20px;  
  padding-left: 14px;
  
}

.mental-health-header h2 {
  font-size: 18px;
  font-weight: bold;
  color: black;
  margin: 0;
}

.view-all {
  background-color: #e7eef7;;
  color: black;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.95rem;
  transition: background-color 0.3s ease;
}

.view-all:hover {
  background-color: #357abd;
}

.issue-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.issue-card {
  background-color: #e6f0ff;
  flex: 1 1 calc(20% - 20px); /* 5 per row on big screens */
  max-width: 180px; /* Prevents them from being too big */
  min-width: 140px; /* Prevents them from being too small */
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  transition: all 0.3s ease; /* Smooth shrinking */
}

.issue-card img {
  width: 100%;
  height: auto;
  max-height: 100px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 6px;
}

.issue-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 4px 12px rgba(0,0,0,0.15);
}

.issue-card button {
  background-color: #4a90e2;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.issue-card button:hover {
  background-color: #357abd;
}


